 URxvt*scrollBar:                      false
 URxvt*cursorUnderline:                true
 URxvt*cursorBlink:                    true
 URxvt*pointerBlank:                   true

URxvt.perl-ext-common: default,matcher,-searchable-scrollback,resize-font
URxvt.url-launcher: /bin/firefox
URxvt.matcher.button: 1

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

URxvt.geometry: 60x17
URxvt.internalBorder:40
URxvt.depth: 32
URxvt.linespace: 0 
URxvt.letterSpace: 0
URxvt.font: xft:GohuFont:pixelsize=11
URxvt.boldFont: xft:GohuFont:Regular:pixelsize=11
URxvt.italicFont: xft:GohuFont:Regular:pixelsize=11
!URxvt.font:xft:IBM Plex Mono:size=11
!URxvt.boldFont:xft:IBM Plex Mono:size=11
!URxvt.italicFont:xft:IBM Plex Mono:italic:size=11


!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

! special
*.foreground:   #a3b7c9
*.background:   #211a22
*.cursorColor:  #a3b7c9

! black
*.color0:       #1e2029
*.color8:       #242530

! red
*.color1:       #9893da
*.color9:       #adacbc

! green
*.color2:       #815b7c
*.color10:      #886cb3

! yellow
*.color3:       #6272a4
*.color11:      #3358c7

! blue
*.color4:       #996c93
*.color12:      #BA86B4

! magenta
*.color5:       #db5aba
*.color13:      #f625c2

! cyan
*.color6:       #5c577a
*.color14:      #7b72b8

! white
*.color7:       #476d7a
*.color15:      #3394b4
