 URxvt*scrollBar:                      false
 URxvt*cursorUnderline:                true
 URxvt*cursorBlink:                    true
 URxvt*pointerBlank:                   true

URxvt.perl-ext-common: default,matcher,-searchable-scrollback
URxvt.url-launcher: /bin/chromium
URxvt.matcher.button: 1


URxvt.geometry: 90x21 
URxvt.internalBorder:20
URxvt.depth: 32
24 URxvt.linespace: 0 
URxvt.letterSpace: 1
#define termfont      xft:tewi2a:pixelsize=11:antialias=false
!URxvt.font:           termfont
!URxvt.boldFont:       xft:Tewi2a:size=11:antialiase=false
!URxvt.italicFont:     termfont
!URxvt.boldItalicFont: termfont
!urxvt*font: xft:gohufont:size=9
!urxvt*boldFont: xft:gohufont:bold:size=9
!urxvt*italicFont: xft:gohufont:italic:size=9
urxvt*font : -gohu-gohufont-medium-r-normal--11-80-100-100-c-60-iso10646-1
urxvt*boldFont : -gohu-gohufont-bold-r-normal--11-80-100-100-c-60-iso10646-1
uzxvt*italicFont : -gohu-gohufont-bold-r-normal--11-80-100-100-c-60-iso10646-1


!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!URxvt.*font:                     -gohu-gohufont-medium-r-normal--11-80-100-100-c-60-iso10646-1
!URxvt.*boldFont:                 -gohu-gohufont-medium-r-normal--11-80-100-100-c-60-iso10646-1
!URxvt.*italicFont:               -gohu-gohufont-medium-r-normal--11-80-100-100-c-60-iso10646-1

URxvt*background:        #333333
URxvt*foreground:        #cccccc
URxvt*cursorColor:       #999999
URxvt*colorBD:           #ffffff
URxvt*colorUL:           #ffff99

!BLK
URxvt*color0:           #666666
URxvt*color8:           #999999
!RED
URxvt*color1:          #CC6699
URxvt*color9:	        #FF99CC
!GRN
URxvt*color2:           #99CC66
URxvt*color10:         #CCFF99
!YEL
URxvt*color3:          #CC9966
URxvt*color11:         #FFCC99
!BLU
URxvt*color4:          #6699CC
URxvt*color12:         #99CCFF
!MAG
URxvt*color5:           #9966CC
URxvt*color13:          #CC99FF
!CYN
URxvt*color6:          #66CC99
URxvt*color14:         #99FFCC
!WHT
URxvt*color7:          #CCCCCC
URxvt*color15:         #FFFFFF
